.aboutus{
    position: relative;
}
.aboutimg{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.aboutimg {
    content: "";
    background-color: #444444;
    opacity: 0.7;
  }

.sirketlogo{
    width: 45%;
    top: 20%;
    left: 30%;
    position: absolute;
}
@media(max-width:768px){
    .sirketlogo {
        width: 70%;
        top: 17%;
        left: 14%;
    }
}
.expensive-navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around !important;
}
/* .about-text{
    text-align: center;
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 30px;
    background-color: rgba(0, 0, 0, .5);
} */